.form-container {
  width: 90%;
  max-width: 2000px; /* Increased max-width for wider screens */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .input-row {
    flex-direction: row;
    align-items: center;
  }

  .input-label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
  }

  input {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .form-container {
    width: 80%; /* Adjust width for larger screens */
  }

  .input-label {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .form-container {
    width: 80%; /* Make form wider on larger screens */
  }
}

@media (min-width: 1440px) {
  .form-container {
    width: 90%; /* Further increase width for very large screens */
  }
}

